# Игнорируем временные и кэш-файлы Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Игнорируем файлы Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.booproj

# Игнорируем личные файлы настроек
*.swp
*.bak
.DS_Store